<!-- inherit from 'base.html' template -->
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>DC Config</h1>

    <form action="" method="post" class="form" role="form">
        <!-- generates hidden field that includes token to protect against CSRF attacks, requires 'SECRET_KEY' to be defined -->
        {{ form.hidden_tag() }}
        <d1>
            {{ wtf.form_field(form.dc_id, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}

            <!-- System Fields -->
            <h2>System:</h2>
            <p> {{ wtf.form_field(form.system_fields.sd_card, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.system_fields.log_event_enable, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.system_fields.remote_restart, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.system_fields.stored_data_erase, class='form-control') }} </p>

            <!-- Comms Fields -->
            <h2>Comms:</h2>
            <p> {{ wtf.form_field(form.comms_fields.azure_setting, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.comms_fields.access_point, class='form-control', placeholder='num:name:address:username:password') }} </p>
            <p> {{ wtf.form_field(form.comms_fields.single_endpoint, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.comms_fields.data_upload_window, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.comms_fields.modem_highspeed, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.comms_fields.bb_blocks_per_chunk, class='form-control') }} </p>

            <!-- Bumpbox Fields -->
            <h2>Bumpbox:</h2>
            <p> {{ wtf.form_field(form.bumpbox_fields.bb_gps_enable, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.bumpbox_fields.bb_data_enable, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.bumpbox_fields.bb_data_type, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.bumpbox_fields.bb_decimation, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.bumpbox_fields.bb_accel_axis_config, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.bumpbox_fields.bb_data_erase, class='form-control') }} </p>

            <!-- Warwick Radio Fields -->
            <h2>Warwick Radio:</h2>
            <p> {{ wtf.form_field(form.warwick_fields.ww_enable, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.warwick_fields.ww_no_reply_timeout, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.warwick_fields.ww_time_interval, class='form-control') }} </p>

             <!-- WiFi Fields -->
            <h2>WiFi:</h2>
            <p> {{ wtf.form_field(form.wifi_fields.wifi_filter_1, class='form-control', placeholder='nn:nn:nn:nn:nn:nn') }} </p>
            <p> {{ wtf.form_field(form.wifi_fields.wifi_filter_2, class='form-control', placeholder='nn:nn:nn:nn:nn:nn') }} </p>
            <p> {{ wtf.form_field(form.wifi_fields.wifi_filter_3, class='form-control', placeholder='nn:nn:nn:nn:nn:nn') }} </p>
            <p> {{ wtf.form_field(form.wifi_fields.wifi_filter_4, class='form-control', placeholder='nn:nn:nn:nn:nn:nn') }} </p>
            <p> {{ wtf.form_field(form.wifi_fields.wifi_shed_filter, class='form-control', placeholder='nn:nn:nn:nn:nn:nn') }} </p>
            <p> {{ wtf.form_field(form.wifi_fields.wifi_shed_start_time, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.wifi_fields.wifi_shed_end_time, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.wifi_fields.wifi_shed_detection_threshold, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.wifi_fields.wifi_scan_found_time, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.wifi_fields.wifi_scan_not_found_time, class='form-control') }} </p>

            <!-- WSN Fields -->
            <d></d>
            <h2>WSN:</h2>
            <p> {{ wtf.form_field(form.wsn_fields.wsn_data_decimation, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.wsn_fields.wsn_msg_conversion, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.wsn_fields.wsn_lora_freq, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.wsn_fields.wsn_lora_freq_token, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.wsn_fields.wsn_list, class='form-control') }} </p>
            <p> {{ wtf.form_field(form.wsn_fields.wsn_delete_all, class='form-control') }} </p>
            </d>
            
            <d>
            <br>
            <h4><u>Add WSN IDs:</u></h4>
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_1, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_2, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_3, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_4, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_5, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_6, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_7, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_8, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_9, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_10, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_11, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_12, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_13, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_14, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_15, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_16, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_17, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_18, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_19, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_20, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_21, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_22, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_23, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_24, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_25, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_26, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_27, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_28, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_29, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_30, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_31, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_32, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_33, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_34, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_35, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_36, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_37, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_38, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_39, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_40, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_41, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_42, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_43, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_44, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_45, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_46, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_47, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_add_48, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}

            <h4><u>Delete WSN IDs:</u></h4>
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_1, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_2, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_3, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_4, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_5, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_6, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_7, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_8, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_9, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_10, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_11, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_12, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_13, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_14, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_15, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_16, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_17, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_18, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_19, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_20, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_21, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_22, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_23, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_24, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_25, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_26, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_27, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_28, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_29, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_30, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_31, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_32, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_33, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_34, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_35, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_36, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_37, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_38, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_39, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_40, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_41, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_42, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_43, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_44, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_45, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_46, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_47, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}
            {{ wtf.form_field(form.wsn_fields.wsn_id_del_48, class='form-control', placeholder='nnnn-nnnn-nnnn-nnnn') }}

            </d>
        </d1>
        <br>
        <p><input type=submit class='btn btn-warning btn-block', value='Save Config'></p>

{% endblock %}
    
