<!-- inherit from 'base.html' template -->
{% extends "base.html" %}

{% block app_content %}
    <h1><u>Remote Configuration Tool</u></h1>
    <p>To create a configuration for a DC select the 'Config' menu item above.</p>
    <p>The id of the DC is a required field and should be entered first,
        the following fields may be entered/updated as required.</p>
    <p>On completion go to the bottom of the page and select the 'Save Config' button, 
        this will cause the configuration to be saved locally to a human readable 
        .txt file and a Base64 binary .cfg file.</p>
    <p>These files will then be copied to the Config Server for download by the DC.</p>
{% endblock %}

